<div style="margin: auto; background-color: #f8f8f8; border-radius: 10px; padding: 5px; margin-top: 20px;">
<%= form_with(model: @comment) do |form| %>
  <% if @comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :add_a_comment, class: "full-width-input", style: "display: block" %>
    <%= form.text_field :text, class: "full-width-input" %>
  </div>

  <div>
    <%= form.text_field :user_id, type:"hidden" %>
  </div>

  <div>
    <%= form.text_field :post_id, type:"hidden" %>
  </div>

  <div style="margin-top: 10px;">
    <%= form.submit %>
  </div>
<% end %>
</div>