<div class="col-xl-4 col-md-6 col-sm-8 col-10" style="margin: auto; background-color: #f8f8f8; border-radius: 10px; padding: 5px; margin-top: 20px;">
  <h1>New post</h1>
  <%= form_with(model: post) do |form| %>

    <% if post.errors.any? %>
      <div style="color: red">
        <h6><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h6>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% invalid = post.errors.include?(:title) %>
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class:"form-control" %>
    </div>
    <% if invalid %>
      <p style="color: red"><%= post.errors.full_messages_for(:title).join(". ") %></p>
    <% end %>

    <% invalid = post.errors.include?(:description) %>
    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description, class:"form-control" %>
    </div>
    <% if invalid %>
      <p style="color: red"><%= post.errors.full_messages_for(:description).join(". ") %></p>
    <% end %>

    <% invalid = post.errors.include?(:keywords) %>
    <div>
      <%= form.label :keywords, style: "display: block" %>
      <%= form.text_field :keywords, class:"form-control" %>
    </div>
    <% if invalid %>
      <p style="color: red"><%= post.errors.full_messages_for(:keywords).join(". ") %></p>
    <% end %>

    <div class="Choose_files" style="margin-top: 10px;">
      <%= form.file_field :images, multiple: true %>
    </div>

    <div class="Submit" style="margin-top: 10px;">
      <%= form.submit class:"btn btn-primary" %>
    </div>    
  <% end %>
  <div class="Back" style="margin-top: 10px;">
    <%= link_to "Back to posts", posts_path %>
  </div>

</div>