<div class="col-xl-4 col-md-6 col-sm-8 col-10" style="margin: auto; background-color: #f8f8f8; border-radius: 10px; padding: 5px; margin-top: 20px;">
  <div id="<%= dom_id post %>" class="post-container">
    <p>
      <%= post.title %>
    </p>
    <p>
      <%= post.description %>
    </p>
    <p>
      <%= post.keywords %>
    </p>
    <p>
      <% post.images.each do |image| %>
        <p><%= image_tag(image, style: "object-fit: contain; width: 500px") %></p>
      <% end %>
    </p>
    <p>
      <%= link_to "", post, class:"post-link" %>
    </p>
  </div>
</div>